@font-face {
	font-family: 'haxr';
	src: url('haxrcorpttf.ttf');
}

body {
    font-family: 'haxr';
}
#weather {
  border-style: double;
  text-align: center;
  color: #eee;
/*  background-color: #eee;*/
}

#header{
  text-align: center;
  color: #eee;
}

